.Background{
    background-image: url("../images/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 13%;
    padding-bottom: 15%;
}

.column{
    text-align: center;
    width: 98%;
}

.services{
    background-image: url("../images/s_image.jpg");
    background-repeat: no-repeat;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

h2{
    text-align: center;
}
#mouselogo{
    position: absolute;
    bottom: 40px;

}
.whatWedo{
    padding-top: 2%;
}

.ContactUs{
    background-image: url("../images/c_image.jpg");
    text-align: center;
}

.button{
    padding: 1%;
}
